#opt-1{
    position: absolute;
    right: 100;
}

#rgb{
    color: white
}

#try-again{
    font-size:19px;
    padding-left: 25px;
    padding-right: 25px;
}

.headerBlock{
    font-size: 25px;
    background-color: rgb(31, 94, 94);
    text-align: center;
    color: antiquewhite;
}

#canvases{
    position: relative;
}

.btn{
    background-color: transparent;
    border: 0;
    color: antiquewhite;
    cursor: pointer;
}

.btn:active{
    transform: translateY(1px);
}

.option-btn{
    position: absolute;
    border: 0;
    color: transparent;
    cursor: pointer;
    top: 20px;
    background-color: transparent;
    border-radius: 12px;
}

.option-btn:active{
    transform: translateY(5px);
}

.hard{
    top:135px;
}

.option-btn-hard:active{
    transform: translateY(4px);
}