#rgb{
    color: white
}

#main-head{
    max-width: auto;
    margin: auto;
}

#try-again{
    font-size:19px;
    padding-left: 25px;
    padding-right: 25px;
}

#container{
    background-color: white;
}

.headerBlock{
    font-size: 25px;
    background-color: rgb(31, 94, 94);
    text-align: center;
    color: antiquewhite;
    transition-duration: 200ms;
}

#buttons{
    position: relative;
    margin: auto;
}

.btn{
    background-color: transparent;
    border: 0;
    color: antiquewhite;
    cursor: pointer;
    transition-duration: 0.2s;
}

.btn:active{
    transform: translateY(1px);
}

.option-btn{
    position: absolute;
    border: 0;
    color: transparent;
    cursor: pointer;
    top: 20px;
    background-color: transparent;
    border-radius: 12px;
    transition-duration: 100ms;
}

.option-btn:active{
    transform: translateY(5px);
}

.option-btn:after{
    content: '';
    display: block;
    opacity: 0;
    transition: all 110s;
}

.option-btn:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.hard{
    top:135px;
}